
:root {
--alice-blue: #edf2fbff;
--lavender-web: #e2eafcff;
--lavender-web-2: #d7e3fcff;
--periwinkle: #ccdbfdff;
--periwinkle-2: #c1d3feff;
--periwinkle-3: #b6ccfeff;
--jordy-blue: #abc4ffff;
}
*{
    font-family: "Inter", "Noto Sans Hebrew", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    
}
.App{
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100vh;
    max-width:412px;
    max-height: 915px;
    background-color: var(--cornsilk);
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

}
.users-container{
    display: flex;
    flex-direction: column;
    height:75%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 15px 0 0 0;
}
footer{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lavender-web);
    border-top: var(--jordy-blue) 1px solid;
    bottom: 0;
    left:0;
}